<!DOCTYPE doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="{{ csrf_token() }}" name="csrf-token"/>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <!-- Fonts -->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet"/>
        <!-- Bootstrap -->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js">
        </script>
        <!-- Styles -->
        <style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .row {
                padding: 1rem 0;
            }
        </style>
    </head>
</html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>
                    busy-load
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" id="bl01">
                    <div class="card-body">
                        <h4 class="card-title">
                            Spinner
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            pump
                        </h6>
                        <p class="card-text">
                            Without any options, the default spinner will be
                            <strong>
                                pump
                            </strong>
                            .
                            <code>
                                $("#bl01").busyLoad("show");
                            </code>
                        </p>
                        <a class="btn btn-primary bl01" href="#">
                            show
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="bl02">
                    <div class="card-body">
                        <h4 class="card-title">
                            Spinner
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            cube-grid
                        </h6>
                        <p class="card-text">
                            <code>
                                $("#bl02").busyLoad("show", {
                        spinner: "cube-grid"
                      });
                            </code>
                        </p>
                        <a class="btn btn-primary bl02" href="#">
                            show
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="bl03">
                    <div class="card-body">
                        <h4 class="card-title">
                            Spinner
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            pulsar
                        </h6>
                        <p class="card-text">
                            <code>
                                $("#bl01").busyLoad("show");
                            </code>
                        </p>
                        <a class="btn btn-primary bl03" href="#">
                            show
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</body>
