#one {
    border-style: solid;
    border-left-width: 15px;
}
#stop {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}